body{
	margin: 0;
	padding: 0;
	background: white;
	font-size: 20px;
	font-weight: 400;

}

.nav{
	display: grid;
	background: blue;
}
.nav h1{
color: white;

}
 .row{
 	display: flex;
 	
 	width: 100%;
 }

#main{

background: orange;
width: 20%;
}

#main ul {
	padding: 20px;
	

}
#main ul li a{
	text-decoration: none;

}



.center{
	width: 60%;
	background: darkblue;
}
.center p {
	color: white;
	padding: 20px;
	margin-top: 40px;
}

.aside{
	width: 20%;
	background: lightgreen;
}

.aside p{
	padding: 10px;
}



#footer{
	background: green;
	padding: 15px;
}
#footer p{
	color: white
}